/* line 3, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/css-slideshow-0.2.0/stylesheets/css-slideshow/_slideshow.scss */
.slideshow .slides {
  width: 100%;
  overflow: hidden;
}
/* line 7, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/css-slideshow-0.2.0/stylesheets/css-slideshow/_slideshow.scss */
.slideshow .slides > ul {
  margin: 0;
  padding: 0;
  width: 1030%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
}
/* line 11, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.slideshow .slides > ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/css-slideshow-0.2.0/stylesheets/css-slideshow/_slideshow.scss */
.slideshow .slides > ul > li {
  display: inline;
  float: left;
  width: 9.709%;
  margin-right: 0.049%;
}
/* line 22, ../sass/_slideshow.scss */
.slideshow .slides {
  background: #cccccc;
}
/* line 25, ../sass/_slideshow.scss */
.slideshow .slides .content {
  padding: 1.5em;
}
/* line 29, ../sass/_slideshow.scss */
.slideshow .slides h2 {
  padding: 0.75em;
  background: #aaaaaa;
}

/* Layout ------------------------------------------------------------------*/
/* line 7, ../sass/screen.scss */
.container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  /* @include susy-grid-background; */
}
/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 12, ../sass/screen.scss */
.content {
  height: 600px;
}

/* line 16, ../sass/screen.scss */
#menu {
  display: none;
}
